#footer{
    .top{
        #box{
            ul:first-child{
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #EEEEEE;
                padding: 40px 0;
                strong{
                    font-size: 24px;
                    display:block;
                }
                li{
                    box-sizing: border-box;
                    width: 25%;
                    text-align: center;
                    i{
                        font-size: 66px;
                    }
                    strong{
                        margin-bottom: 5px;
                    }
                }
            }
            
        }
        .links{
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            
            padding: 40px 0;
            
            li{
                width: 135px;
                box-sizing: border-box;
                padding-left: 25px;
                border-right: 1px solid #EEEEEE;
                strong{
                    font-size: 20px;
                    display:block;
                    margin-bottom: 14px;
                }
                &>a{
                    height: auto;
                    width: auto;
                    text-decoration: none;
                    line-height: 26px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                dl{
                    float: left;
                }
            }
            li:first-child{
                width: 250px;
                padding: 0;
               

                div{
                     display: flex;
                     align-items: center;
                     justify-content:center;
                    i{
                        margin-left: 5px;
                        position: relative;
                        img{
                            display: none;
                            border: 1px solid #DEDEDE;
                            padding: 5px;
                            position: absolute;
                            top: 35px;
                            right:-40px;
                            background: white;
                        }
                    }
                    i:nth-of-type(1){
                        font-size: 30px;
                        color: rgb(240,0,28);
                    }
                    i:nth-of-type(2){
                        font-size: 30px;
                        color: rgb(0,170,0);
                    }
                    i:nth-of-type(3){
                        font-size: 30px;
                        color: rgb(7,193,147);
                    }
                }
               
            }
            li:nth-of-type(6){
                border-right: none;
            }
            li:last-child{
                width: 250px;
                text-align: center;
                padding: 0;
                border-right: none;
                dl{
                    padding: 0 8px;
                }
            }
        }
    }
    .bottom{
        text-align: center;
        background: rgb(51,51,51);
        padding-top:20px ;
        height: 150px;
        div{
            line-height: 26px;
            span{
                color: rgb(194,194,194);
                
            }

            a{
                text-decoration: none;
                color: rgb(194,194,194);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .second{
            span{
                margin: 0 14px;
            }
        }
        .third{
            img{
                margin-right: 5px;
            }
        }
        .forth{
             margin-top: 10px;
            img{
                height: 26px;
                margin: 0 6px;
            }
        }
    }
}
